header.page-header
  a.page-header__logo
    img.page-header__logo-image(src="#" width="226" height="30" alt="Барбершоп «Бородинский»")
  nav.main-nav
    button.main-nav__toggle(type="button") Открыть меню
    div.main-nav__wrapper
      ul.main-nav__list.site-list
        li.site-list__item.site-list__item--active
          a Главная
        li.site-list__item
          a(href="#") Наши работы
        li.site-list__item
          a(href="#") Записаться
        li.site-list__item
          a(href="#") Контакты
        li.site-list__item
          a(href="#") HTML Academy
      ul.main-nav__list.user-list
        li.user-list__item
          a.user-list__login(href="#") Войти 