footer.page-footer
	div.page-footer__wrapper
		div.page-footer__contacts.contacts
			b.contacts__title Барбершоп «Бородинский»
			p.contacts__text г. Санкт-Петербург, ул. Большая Конюшенная 19/8 <br>
				a.contacts__phone(href="tel:+78125556666") <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
		div.page-footer__social.social
			ul.social__list
				li.social__item
					a.social__link.social__link--vkontakte(href="#") Мы в Вконтакте
				li.social__item
					a.social__link.social__link--facebook(href="#") Мы в Фейсбуке
				li.social__item
					a.social__link.social__link--instagram(href="#") Мы в Истаграмме
		div.page-footer__copyright.copyright
			b.copyright__text Разработано:
			a.button.copyright__link(href="#") HTML Academy